<?xml version="1.0"?>
<ruleset name="PSR-12">
    <!-- Config params -->
    <config name="php_version" value="80000"/>

    <!-- Args -->
    <arg name="tab-width" value="4"/>
    <arg name="encoding" value="UTF-8"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="sp"/>

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>

    <!-- Rules -->
    <rule ref="PSR12"/>
</ruleset>